.wrapper-progressBar {
    width: 100%
}

.progressBar {
    padding-left: 0px;
}

.progressBar li {
    list-style-type: none;
    float: left;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.done {
    color: #329932;
}

.progressBar li.done:before {
    border-color: #329932;
    background-color: #329932
}

.progressBar .done:after {
    background-color: #329932;
}

.progressBar li.present:before {
    border-color: #FBDF63;
    background-color: #FBDF63
}

.progressBar .present:after {
    background-color: #FBDF63;
}

.stepper {
    width: 100%;
    margin-top: 2rem;
}

body {
    background-color: #F0F2F7;
}

.title {
    margin-top : 10em;
}

.sandwich_btn {
    margin-top : 3em;
    background-color: #FBDF63;
}

.login {
    margin-top : 3em;
    background-color: #329932;
}

.center_align {
    text-align: center;
}

.font_title {
    font-family: "BBTreeGB";
}

.font_content{
    font-family : "HangeulNuri-Bold"
}

.select_title{
    margin-top: 6rem;
    background-color: #FBDF63;
    padding-top : 1rem;
    padding-bottom : 1rem;
}

.select_area {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu.on {
    background-color: #329932;
}

.select_area:first-child {
    margin-left: 0rem;
}

.card_area {
    margin-top: 2rem;
}

.next_btn_div{
    margin-top: 2rem;
}

.next_btn{
    background-color: grey;
}

.next_btn.on{
    background-color: #FBDF63;
}

input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.prev_btn{
    background-color: #329932;
}

@font-face { 
    font-family: 'BBTreeGB'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { font-family: 'HangeulNuri-Bold'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
